<nav class="nav">
  <a href="/" class="nav-logo to-link">
    <img src="/src/assets/logo/logo-ayam-removebg-preview1.png" alt="AyamTernakKu Logo" />
    <span>AyamTernakKu</span>
  </a>
  <div class="nav-main">
    <div class="links">
      <a class="to-link" href="/">Beranda</a>
      <a class="to-link" href="/listing">Tentang Kami</a>
      <a class="to-link" href="/contact">Blog</a>
      <a class="to-link" href="/service">Kontak</a>
    </div>
  </div>
  <div class="nav-others">
    <button class="login-btn">Masuk</button>
  </div>
</nav>
