<nav class="nav">
  <a href="/" class="nav-logo to-link">
    <img src="/src/assets/logo/logo-ayam-removebg-preview1.png" alt="AyamTernakKu Logo" />
    <span>AyamTernakKu</span>
  </a>
  <div class="nav-main">
    <div class="links">
      <a class="to-link" href="/">Beranda</a>
      <a class="to-link" href="/">Tentang Kami</a>
      <a class="to-link" href="/">Blog</a>
      <a class="to-link" href="/">Kontak</a>
    </div>
  </div>
  <div class="nav-others">
    <a href="/login" class="login-btn">Masuk</a>
  </div>
</nav>
