@use "./helpers/mixins" as m;
@use "./helpers/variables" as v;

@use "./components/navbar/navbar";
@use "./components/navbar/navbar-media";
@use "./components/footer/footer";

@use "./pages/home/home";

// Reset CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styling untuk body
body {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  font-family: v.$poppins;
  background-color: map-get($map: v.$color, $key: "background-light");
  color: map-get($map: v.$color, $key: "dark-gray");
  line-height: 1.6;
}

// Tema tambahan dan responsivitas
a {
  text-decoration: none;
  color: map-get(v.$color, "highlight-green");
  transition: color 0.3s ease;

  &:hover {
    color: map-get(v.$color, "secondary-orange");
  }
}

button {
  font-family: v.$poppins;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

// Media query responsivitas
@media (max-width: 768px) {
  body {
    font-size: 3vw;
  }
}
